body {
  // overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #123;
}
#__next {
  width: min(100%, 1600px);
  background: url("../../public/img/background.svg") fixed 90%;
  // overflow: hidden;
}
.index__container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}
.index__container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: var(--color-azulOscuroHover);
}
.index__container::-webkit-scrollbar-thumb {
  background-color: rgb(73, 109, 145);
  border-radius: 20px;
}
.index__landing {
  width: min(60%, 800px);
  min-height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
}
.index__landing > h2 {
  margin-bottom: 0.3em;
}
.index__landing > h5 {
  font-weight: lighter;
  margin-bottom: 2em;
}
.index__options {
  margin-top: 1.6em;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
/* INDEX SUB SECTIONS */
.index__sub-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index__nosotros,
.index__ludicas,
.index__teoria {
  color: black;
  padding: 1em;
}

.index__nosotros {
  background: #d3cce3; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e9e4f0, #d3cce3);
  background: linear-gradient(to right, #e9e4f0, #d3cce3);
}
.nosotros__objetivos,
.nosotros__descripcion {
  width: 100%;
  padding: 1em;
  display: flex;
}
.nosotros__objetivos > div,
.nosotros__descripcion > div {
  width: 50%;
}

.index__ludicas {
  background-color: $blackPrimary;
  color: $whiteSecondary;
}
.ludicas__detalles {
  display: flex;
  padding: 1em;
  justify-content: center;
}

.index__teoria {
  width: 100%;
  background: #d3cce3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
@media all and (max-width: 769px) {
  .index__container {
    justify-content: baseline;
  }
  .ludicas__detalles {
    flex-direction: column;
  }
  .ludicas__detalles span {
    margin: 1em;
    padding-bottom: 1em;
  }
  .ludicas__detalles span img {
    min-width: 140px !important;
    height: 80px !important;
  }
  .index__landing {
    padding: 0.4em;
    padding-top: 3em;
  }
  .index__landing > h2 {
    font-size: 300%;
  }
  .index__landing > h5 {
    font-size: 100%;
    text-align: center;
  }
  .index__options {
    width: min(100%, 320px);
    margin-inline: auto;
  }
}
