@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif !important;
}
.fade-animation {
  animation: opacityTransition 0.3s ease-in;
}
@keyframes opacityTransition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideToLeft {
  0% {
    transform: translateX(140%);
  }
  50% {
    width: 70%;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideToLeft2 {
  0% {
    transform: translateX(70%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideToRight {
  0% {
    transform: translateX(-140%);
  }
  50% {
    width: 70%;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideToRight2 {
  0% {
    transform: translateX(-70%);
  }
  100% {
    transform: translateX(0);
  }
}
